* {
    font-family: Verdana, sans-serif;
}

#header-info {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px rgb(80, 95, 143);
}

#prof-title {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    border-radius: 15px;
    background-color: #543d83;
    margin-left: 300px;
    margin-right: 300px;
}

#dog {
    border-radius: 80%;
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img-format {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

#dog {
    size: 20px 20pxs;
}

#profile-dropdown {
    width: 150px;
}

.select {
    max-width:18%;
}

#pet-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 620px;
    justify-content: space-evenly;
    background-color: rgb(168, 175, 233);
    padding-bottom: 10px;
    margin: 30px 50px 0px 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttons {
    display: inline;
    text-align: center;
}

#save-btn {
    border-radius: 15px;
}

#get-info {
    border-radius: 15px;
}

#save-btn:active {
    background-color: #bfa9f1;
    box-shadow: 0 5px #543d83;
    transform: translateY(4px);
    border-radius: 15px;
}

#get-info:active {
    background-color: #bfa9f1;
    box-shadow: 0 5px #543d83;
    transform: translateY(4px);
    border-radius: 15px;
}

#resources {
    font-size: 20px;
}

#images {
    margin-top: 10px;
    border-radius: 50%;
}

#food-info {
    display: flex;
    background-color: rgb(164, 223, 199);
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px 50px 0px 50px;
    border-radius: 15px;
}


#main-card {
    display: flex;
    justify-content: space-between;
}

#food-wiki {
    background-color: rgb(245, 245, 155);
    margin-bottom: 100px;
}

#food-title{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(151, 151, 22) ;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px
}

#lower-btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}


#food-nutr {
    background-color: rgb(240, 200, 147);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

#nutrition-title{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    border-radius: 15px;
    background-color: rgb(214, 154, 74) ;
    margin-left: 120px;
    margin-right: 120px;  
    margin-top: 10px
}
#clear-btn {
    display: inline;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
   
}

#clear-btn:active {
    background-color: #d87462;
    box-shadow: 0 5px #bdbaba;
    transform: translateY(4px);
    border-radius: 15px;

}



.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(151, 172, 212);
    color: white;
    text-shadow: 1px 1px rgb(83, 82, 82);
    text-align: center;
    padding: 48px 24px 20px 25px;
    margin-top: 20px;
}